# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Dependency directories
.pnpm/
jspm_packages/
bower_components/

# dotenv env files
.env
.env.*.local
.env.local

# Output
.next/
out/
build/
dist/
.vercel/

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Coverage / testing
coverage/
.nyc_output
*.lcov
report.*.json

# TypeScript build info (for future)
*.tsbuildinfo

# ESLint / Stylelint
.eslintcache
.stylelintcache

# Parcel / Vite / VuePress / Gatsby / Nuxt
.cache/
.parcel-cache/
.nuxt/
.temp/
.vuepress/dist
.vitepress/dist
.vitepress/cache
.docusaurus/

# Misc
.pnp.*
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.lock-wscript
lib-cov
*.pid
*.seed
*.pid.lock

# npm pack
*.tgz

# Firebase / Serverless
.serverless/
.firebase/

# MongoDB local dump
dump/

# TernJS
.tern-port
