.btn {
  position: relative;
  border-radius: 15px;
  border: 0px;
  background-color: whitesmoke; /* Optional: add a background color */
  z-index: 1; /* Ensure the button content stays on top */
}

.btn::after {
  content: "Explore COURSES";
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 5px); /* Adjust the size */
  height: calc(100% - 5px); /* Adjust the size */
  background: black;
  border-radius: 15px; /* Match the button's border-radius */
  transform: translate(-50%, -50%); /* Center it */
  z-index: 10; /* Place it above ::before but behind the button's text */
}

.btn::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(
    45deg,
    green,red, blue,violet,purple
  );
  border-radius: 15px; /* Match the button's border-radius */
  z-index: 0; /* Place it behind the button */
  filter: blur(10px);
  animation: glow 10s linear infinite;
  transition: opacity .3s ease-in-out;
  opacity: 1;
  background-size: 600%;
}
@keyframes glow{
  0%{
    background-position: 0 0;
  }50%{
    background-position: 400% 0;
  }100%{
    background-position: 0 0;
  }
}

.btn:active::after{
  background: transparent;
  font-weight: 800;
}
